/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

html, body {
    font: 12px "Verdana", sans-serif;
    color: #797066;
}

#container {
    width: 600px;
    margin: auto;
    border: 1px solid #cecab9;
}
 
#topbar {
    background: #51473D;
    padding: 3px;
    text-align: right;
    font: italic 10px "Verdana";
    color: #EAE7D2;
}

#menu {
    background: url("pics/coffey.jpg");
    height: 200px;
    display: inline-block;
    width: 100%;
}

#menu > a:first-child {
    display: none;
}

#menu ul {
    background: #51473D;
    height: 16px;
    list-style-type: none;
    padding: 10px;
    margin-top: 200px;
    border-bottom: 1px solid #FFF;
}
 
#menu ul li {
    float: left;
    padding-right: 1px;
    margin-top: 3px;
}
 
#menu ul li a {
    background: #797066;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    color: #EAE7D2;
    border-top: 1px solid #847c73;
    text-transform: capitalize;
}
 
#menu ul .active a {
    background: #EAE7D2;
    color: #797066;
    padding-bottom: 12px;
}
 
#menu a:hover {
    background: #9C9084;
}

#content {
    background: #EAE7D2;
    margin-top: 30px;
}
 
#maincontent {
    float: left;
    width: 340px;
    margin-left: 10px;
    line-height: 20px;
}

#maincontent h1 {
    font: normal 30px "Times New Roman";
    color: #797066;
}

#maincontent img {
    float: left;
    margin-right: 5px;
}
 
#subcontent {
    float: right;
    width: 220px;
    border-left: 1px dashed #bbb;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 20px;
}

#subcontent h1 {
    font: normal 16px "Times New Roman";
    color: #51473d;
}

#subcontent h2 {
    font: normal 14px "Times New Roman";
    color: #51473d;
}

#subcontent ul {
    list-style-type: none;
    padding: 0;
}

#subcontent ul a {
    color: #51473d;
    line-height: 20px;
}

#subcontent p {
    font-size: 9px; 
    line-height: 20px;
}
 
#bottomcontent {
    clear: both;
    font: italic 10px "Verdana";
    padding: 10px;
}